html, body, #root {
  height: 100%;
}

/* Remover setas no Firefox e garantir que o estilo funcione em outros navegadores */
input[type=number] {
  -moz-appearance: textfield; /* Para Firefox */
  appearance: textfield; /* Para outros navegadores */
}

/* Para remover a borda do campo de entrada no Firefox */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}

/* Para outros navegadores */
input[type=number] {
  margin: 0; 
}
/* Background color*/
.bg-sim{
  background-color: #1d1a2f !important;
  
}
/* Efeitos botões */
.color-g {
  background-color: #3f6d4e !important;
  border-color: #8bd450 !important;
  color: white !important ; 
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease !important;
}

.color-g:hover {
  background-color: #f5f5f5 !important; 
  color: #3f6d4e !important; 
  box-shadow: 0 0 5px #3f6d4e, 0 0 5px #3f6d4e, 0 0 15px #3f6d4e !important; 
  font-weight: 500;
}

.color-p {
  background-color: #734f9a !important;
  border-color: #965fd4 !important;
  color: white !important; 
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease !important;
}

.color-p:hover {
  background-color: #f5f5f5 !important; 
  color: #734f9a !important; 
  box-shadow: 0 0 5px #734f9a, 0 0 5px #734f9a, 0 0 15px #734f9a !important;
  font-weight: 500;
}
.color-r {
  background-color: #D00000 !important;
  border-color: #e20000 !important;
  color: white !important; 
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease !important;
}

.color-r:hover {
  background-color: #f5f5f5 !important; 
  color: #D00000 !important; 
  box-shadow: 0 0 5px #D00000, 0 0 5px #D00000, 0 0 15px #D00000 !important;
  font-weight: 500;
}

/*Efeito ícones footer*/
.neon-icon {
  transition: .5s;

}

.neon-icon::before {
  background: #3f6d4e;
  transition: .5s;
}

.neon-icon:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #76b68b; 
}

.neon-icon:hover {
  color: #3f6d4e;
  text-shadow: 0 0 5px #3f6d4e;
}

/*Custom select do form*/

.custom-select:focus {
  border-color: #3f6d4e !important; 
  box-shadow: 0 0 0 0.2rem rgba(63, 109, 78, 0.25) !important; 
}

/* Custom input para novo processo */

.custom-input:focus {
  border-color: rgb(94, 58, 141) !important;
  box-shadow: 0 0 0 0.2rem rgba(94, 58, 141, 0.25) !important;
}


