html, body, #root {
  height: 100%;
}


/* Remove setas no Chrome, Safari e Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove setas no Firefox */
input[type=number] {
    -moz-appearance: textfield; /* Para Firefox */
}
