html, body, #root {
  height: 100%;
}

/* Remover setas no Firefox e garantir que o estilo funcione em outros navegadores */
input[type=number] {
  -moz-appearance: textfield; /* Para Firefox */
  appearance: textfield; /* Para outros navegadores */
}

/* Para remover a borda do campo de entrada no Firefox */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}

/* Para outros navegadores */
input[type=number] {
  margin: 0; 
}
/* Background color*/
.bg-sim{
  background-color: #191923 !important;
  
}
/* Efeitos botões */
.color-g {
  background-color: #76b68b !important;
  border-color: #AFE3C0 !important;
  color: white !important ; 
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease !important;
}

.color-g:hover {
  background-color: white !important; 
  color: #76b68b !important; 
  box-shadow: 0 0 5px #76b68b, 0 0 5px #76b68b, 0 0 15px #76b68b !important; 
}

.color-p {
  background-color: #5e3a8d !important;
  border-color: #8963BA !important;
  color: white !important; 
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease !important;
}

.color-p:hover {
  background-color: white !important; 
  color: #5e3a8d !important; 
  box-shadow: 0 0 5px #5e3a8d, 0 0 5px #5e3a8d, 0 0 15px #5e3a8d !important;
}

/*Efeito ícones footer*/
.neon-icon {
  transition: .5s;

}

.neon-icon::before {
  background: #76b68b;
  transition: .5s;
}

.neon-icon:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #76b68b; 
}

.neon-icon:hover {
  color: #76b68b;
  text-shadow: 0 0 5px #76b68b;
}

/*Custom select do form*/

.custom-select:focus {
  border-color: #76b68b !important; 
  box-shadow: 0 0 0 0.2rem rgba(118, 182, 139, 0.25) !important; 
}

/* Custom input para novo processo */

.custom-input:focus {
  border-color: rgb(94, 58, 141) !important;
  box-shadow: 0 0 0 0.2rem rgba(94, 58, 141, 0.25) !important;
}